@import "tailwindcss";

/* Google Fonts */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary-yellow: #b88e2f;
  --color-secundary-yellow: #fff3e3;

  --color-secundary-white: #faf3ea ;
  
  /* Font */ --default-font-family: "Poppins", "sans-serif";
}

/* Header */
.nav__link {
  @apply border-primary-yellow after:bg-primary-yellow relative border-b-0 pb-1 after:absolute after:bottom-0 after:left-0 after:h-1 after:w-0 after:rounded-full after:duration-500 hover:after:w-[40%];
}

.nav__link.active {
  @apply after:w-full;
}

/* Header - End */

/* Hero */
.btn--yellow {
  @apply bg-primary-yellow border-primary-yellow hover:text-primary-yellow border-2 font-bold text-white duration-300 hover:bg-transparent;
}
/* Hero - End */

/* Footer */
.footer__link {
  @apply hover:text-primary-yellow duration-300;
}
/* Footer - End */
